<div class="container">
    <p>Modificar registro del auto!</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre del auto</label>
                <input [(ngModel)]="Auto.nombre" type="text" class="form-control" name="nombre">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Marca del auto</label>
                    <input [(ngModel)]="Auto.marca" type="text" class="form-control" name="marca">
                </div>

                <div class="mb-3">
                    <label class="form-label">Logo del auto</label>
                    <input [(ngModel)]="Auto.logo" type="text" class="form-control" name="logo">
                </div>

                <button (click)="modificar()" class="btn btn-primary">Guardar</button>

            </form>
        </div>
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <img src="{{Auto.logo}}" width="100" height="100" alt="">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">{{Auto.nombre}}</label>
                </div>

                <div class="mb-3">
                    <label class="form-label">{{Auto.marca}}</label>
                </div>
            </form>
        </div>
    </div>
</div>